<div class="container">
  <header class="row">
    <div class="col">
      <h1>Product Detail </h1>
    </div>
  </header>
  <section class="row">
    <div class="col">
      <p>Name: {{product.name}}</p>
      <p>Quantity: {{product.quantity}}</p>
      <p>Price: {{product.price}}</p>
      <button class="btn btn-primary">Hello</button>
      <br>
      <hr>
      <!--vd về *ngFor -->
      <table class="table">
        <tr>
          <th>STT</th>
          <th>Tên</th>
          <th>Chức vụ</th>
          <th>Lương</th>
        </tr>
        <tr *ngFor="let person of  persons; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ person.name_employee }}</td>
          <td>{{ person.position }}</td>
          <td>{{ person.salary | currency:'USD':'symbol':'1.2-2'}}</td>
        </tr>

        <!--Sử dụng currency để quy đổi giá trị tiền tệ-->
        <!-- UpperCasePipe: Chuyển đổi văn bản thành tất cả các chữ hoa.
      LowerCasePipe: Chuyển đổi văn bản thành tất cả các chữ thường. -->
      </table>
      <br>
      Tỉnh / Thành Phố
      <select id="cities" (change)="changeCity($event)">
        <option *ngFor="let data of vietNamData" value=" {{data.city }}">
          {{ data.city}}
        </option>
      </select>
      <br>
      Quận / Huyện
      <select name="" id="district" class="">
        <option *ngFor="let district of districts" value=" {{ district }}">
          {{ district }}
        </option>
      </select>
      <p appHighLight>Hight Light Me </p>

      <h3 appHighLight="'red'">angular.iss</h3>

      <a href="#" appHighLight="'yellow'">https://www.google.com/</a>&nbsp;

      <span appHighLight="'blue'">https://www.youtube.com</span>
    </div>
    <div class="container">
      <div class="card">
        <div class="card-header">
          Item capitalize
        </div>
        <div class="card-body">
          <p></p>
          <div class="form-group">
            <input type="text" class="form-control" appCapitalize>
          </div>

          <p></p>
          <div class="form-group">
            <textarea name="" id="" cols="30" rows="10" appCapitalize></textarea>
          </div>
        </div>
      </div>
    </div>
    <p *appUnless="condition" class="unless a">
      (A) This paragraph is displayed because the condition is false.
    </p>

    <p *appUnless="!condition" class="unless b">
      (B) Although the condition is true,
      this paragraph is displayed because appUnless is set to false.
    </p>
  </section>
</div>
